.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.sim_viewer {
    padding: 20px;
}

.sim_viewer_right {
    width: 25%;
    float: right;
    padding-bottom: 10px;
    /* height: 600px; */
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    /* border-radius: 5px; */
}

.sim_viewer_tleft {
    width: 47.5%;
    float: left;
    padding: 2px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
}

.sim_viewer_tctr {
    width: 25%;
    float: left;
    padding: 2px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    border-collapse: separate;
    border-spacing: 10px;
}

.sim_viewer_bleft {
    width: 37.5%;
    float: left;
    padding: 2px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
}

.sim_viewer_bctr {
    width: 35%;
    float: left;
    padding: 2px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    border-collapse: separate;
    border-spacing: 10px;
}

.contain_inner {
    position: relative;
    /* float: inline-start; */
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0%;
    padding-bottom: 3%;
}

.sim_button {
    position: relative;
    /* float: inline-start; */
    top: 0%;
    bottom: 0%;
    padding-left: 15%;
    padding-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.contain_org {
    border: 3px solid rgb(115, 113, 113);
    margin: 1%;
    /* margin-left: 10%; */
    float: right;
    width: 88%;
    padding-bottom: 4%;
    border-radius: 25px;
}

.sim_lab {
    writing-mode: vertical-rl;
    width: 6%;
    /* margin-top: 10%; */
    /* margin-left: 4; */
    display: inline-block;
    align-items: center;
    text-orientation: upright;
}
